#link {
    color: black;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: small;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    top: 0;
    left: 0;
    position: fixed;
}

.nav-left a,
.nav-right a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.logo {
    text-align: center;
    margin: 20px 0;
}

.search-container {
    text-align: center;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    width: 500px;
    margin: 0 auto;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
}

.icon-left,
.icon-right {
    margin: 0 10px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #f8f9fa;
    cursor: pointer;
    margin: 5px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #f8f9fa;
    padding: 15px 0;
}

.footer-top {
    text-align: left;
    padding: 45px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.Franceclimat {
    text-align: center;
}
hr {
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.373);
}
.left {
    padding: 20 10 4 10;
    margin-left: 20px;

}
.right {
    margin-right: 20px;
}